.navbar-brand{
    display: flex;
}
.menu, .box-text{
    max-width: 1000px;
}

.area-title{
    display: block;
    padding-left: 15px;
}

#title{
    color: #1BAADA;
    font-style: italic;
}

#subtitle{ 
    color: white;
    font-style: italic;
}

.links > ul > li{
    padding-top: 2rem;
    margin-right: 1rem;
}
.links > ul > li :after {
    content: '';
    margin-left: 1rem;
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 1px;
    background: #fff;

}

.links > ul > li > a{
    line-height: 20px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    text-decoration: none
}

  
.links > ul > li:last-child ::after {
    display: none;
}


.box-legend > span{
    color: white;  
    font-style: italic; 
    font-size: 22px;
}

.sub-legend{
    margin-top: 1.75rem;
    display: flex;
    height: 40px;
}
.box-legend{
    background-color: rgba(000, 000, 000, 0.5);
    width: 380px;
    text-align: left;
    padding: 25px;
    margin: 0;
    position: relative;
    bottom: 250px;
    left: 53%;
    padding-bottom: 40px;
}

#legend{
    padding-left: 15px;
    color: white;
    font-style: italic;
}

#text-gold{
    color: #BFA87E;
    font-size: 21px;
}
.box-text{
    padding-bottom: 35px;
}

.image-box{
    margin-bottom: -80px;
}

.title-box{
    display: flex;
    margin-top: -100px;
    padding: 2px 2px;
}
.title-box > img{
    padding-left: 5px;
}
.title-box > span{
    color:#fff;
    font-style: italic;
    font-size: 16pt;
    padding: 5px;
}
#box-1{
    background-color: #1BB4E8;
}
#box-2{
    background-color: #C6B07F;
}
.text-area{
    line-height: 1.3rem;
    margin-bottom: 100px;
}
.text-area > h4, p{
    padding: 0px 10px 10px 0px;
    font-style: italic;
}

@media (max-width: 500px) {
    .links > ul > li{
        padding-top:1rem;
        margin-right: 1rem;
    }
    .links > ul > li :after {
        content: none;
        margin-left: 1rem;
        display: inline-block;
        position: absolute;
        height: 20px;
        width: 1px;
        background: #fff;
    
    }
   .box-legend{
    width: 100%;
    margin: 0;
    left: 0;
    height: 160px;
    bottom: -10px;
    padding: 20px;
    margin-bottom: 120px;
   }
   .box-legend > span{
    font-size: 17pt;
   }
   .sub-legend{
    margin: 0;
   }
   .image-box{
        margin-bottom: 0px;
   }
}

@media (min-width: 500px) {
    .box-legend{
        background-color: rgba(000, 000, 000, 0.5);
        width: 380px;
        text-align: left;
        padding: 25px;
        margin: 0;
        position: relative;
        bottom: 250px;
        left: 50%;
        padding-bottom: 40px;
    }
     
}

